{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Author info --}}
{{#author}}
<header class="author-header">
    {{#if profile_image}}
        <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
    {{/if}}
    <h1><a href="{{url}}">{{name}}</a></h1>
    {{#if bio}}
        <p class="content">{{bio}}</p>
    {{/if}}
    <div class="author-meta">
        {{#if location}}
        <div class="author-location icon fa-map-pin">{{location}} <span class="bull">&bull;</span></div>
        {{/if}}
        <div class="author-stats">
            {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}} <span class="bull">&bull;</span>
        </div>
        {{#if website}}
        <a href="{{url}}" class="icon fa-globe" title="Website"><span class="label">Website</span></a>
        {{/if}}
        <a href="https://www.linkedin.com/in/dhruvilvaghela/" class="icon fa-linkedin" title="LinkedIn"><span class="label">LinkedIn</span></a>
        <a href="https://stackoverflow.com/users/2141670/dhruvil-vaghela" class="icon fa-stack-overflow" title="Stack Overflow"><span class="label">Stack Overflow</span></a>
        <a href="https://github.com/dhruvil-93" class="icon fa-github" title="GitHub"><span class="label">GitHub</span></a>
        <a href="https://instagram.com/that.gujju.guy/" class="icon fa-instagram" title="Instagram"><span class="label">Instagram</span></a>
        <a href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/" class="icon fa-rss" target="_blank" rel="noopener"><span class="label" title="RSS">RSS</span></a>
    </div>
</header>
{{/author}}

{{!-- Posts --}}
<section>

    <section class="posts">
        {{#foreach posts}}
        <article>
            {{#if feature_image}}
            <a href="{{url}}" class="image fit"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
            {{/if}}
            <h3><a href="{{url}}">{{title}}</a></h3>
            <p>{{excerpt words="33"}}</p>
            <ul class="actions special">
                <li><a href="{{url}}" class="button">Full Story</a></li>
            </ul>
        </article>
        {{/foreach}}
    </section>

</section>

{{!-- Pagination --}}
{{pagination}}